:root {
    /** Colors Palette */
    --AliceBlue: #F3F9FF;
    --AzureishWhite: #D2E1F1;
    --Rhythm: #727997;
    --YankeesBlue: #12263F;
    --Water: #D8ECFF;
    --White: #FFFFFF;
    --Back: #000000;
    --Platinum: #E8E8E8;
    --PhilippineYellow: #FFCA00;

    /** Fonts */
    --Roboto: "Roboto", sans-serif;
}

html, body {
	box-sizing: border-box;
	font-family: var( --Roboto );	
}


/** Header */
.logo-sena__header {
    --logo-sena: 50px;
    width: var( --logo-sena );
    height: var( --logo-sena );
}

.logo-sena__footer {
    --logo-sena: 100px;
    width: var( --logo-sena );
    height: var( --logo-sena );
}

/** Banner */
.banner {
    height: 30rem;
    overflow: hidden;
    position: relative;
    width: 100%;
    max-height: 30rem;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* border: 1px solid black; */

    .info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        padding: 1rem; 

        .info-course {
            padding: 3rem 1rem;
        }

        @media (min-width: 567px) {
            .info-course {
                padding: 2rem 0 0 2rem;
            }
        }
        @media (min-width: 992px) {
            .info-course {
                padding: 4rem 0 0 4rem;
            }
        }

        h3 { 
            margin: 0; 
            padding: 0; 
            line-height: 1.1em;
            font-size: 32px;
        }

        h3::before {
            display: none;
        }
    }

    .banner-image {
        height: 26rem;
        width: 100%;
        max-height: 30rem;
        transform: translate(-50%, 0);
    }
    
    .banner-woman {
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 75%;
    }
    
    .banner-man {
        position: absolute;
        top: 62%;
        left: 70%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 50%;
    }

    @media ( min-width: 992px ) {
        .img-mobile {
            position: relative;
            top: 4rem;
            right: 2rem;
        }
        .banner {
            height: 28rem;
        }
        .banner-image {
            transform: none;
        }  
        .banner-woman {
            top: 44%;
            left: 38%;
        }
        .banner-man {
            width: 60%;
            left: 68%;
        }
    }
    @media ( min-width: 1200px ) {
        .banner-man {
            width: 55%;
            top: 59%;
        }
    }
    
}

.page-content {

    .banner-top-content {
        height: 10rem;
        object-fit: cover;
    }

    .banner-image {
        /* border: 1px solid blue; */
        position: absolute;
        width: 100%;
        z-index: 0;
    }

    .main {
        z-index: 1;
        margin-top: 4rem;
    }

}

/** Main */
.content {
    background-color: var( --AliceBlue );
}

.page {
    background-color: var( --White );
    .header{
        background-color: var( --White );
    }
}

.page-content {
    background-color: var( --AliceBlue );
    .content {
        background-color: var( --White );
    }
}

.title-main {
    border-bottom: 3px solid var( --Platinum );
    font-size: 32px;
    padding-bottom: .8rem;

    i.bi.bi-info-square-fill {
        margin-right: .8rem;
    }

    .bi-info-square-fill::before {
        border-radius: .4rem;
        background-color: var( --Back );
        color: var( --PhilippineYellow );
    }
}

h3 {
    display: flex;
    font-size: 1.25em;
    line-height: 1.2; 
    flex-direction: column;
    position: relative;
    padding-left: 1.2rem;
    margin-bottom: 1.4rem;

    span {
        white-space: nowrap;
    }

    &::before {
        content: "";
        display: block;
        width: 4px;
        background-color: #ffca00;
        position: absolute; 
        top: 0; 
        bottom: 0; 
        left: 0;
        border-radius: 2px;
    }
}

.content-list {
    .link-item {
        font-size: 1em;
        font-weight: 400;
        text-decoration: none;
        color: var( --YankeesBlue );
        transition: all .15s ease-in-out;
        -webkit-text-decoration-skip: objects;
    }
    .link-item:hover {
        background-color: var( --AliceBlue );
        font-weight: 600;
        transition: all .15s ease-in-out;
        -webkit-text-decoration-skip: objects;
        border-radius: 0.25rem;
    }
    .btn-numeration {
        background: var( --AliceBlue );
    }
}

/** Footer */
.footer-navbar {
    background: var(--Water);
}

.footer-pre {
    background-color: var( --AliceBlue );

    h5 {
        color: var( --YankeesBlue );
        font-size: 1em;
    }
}
.footer-main {
    background-color: var( --AzureishWhite );
    color: var( --Rhythm );
    font-size: 12.8px;
}