:root {
    /** Colors Palette */
    --AliceBlue: #F3F9FF;
    --AzureishWhite: #D2E1F1;
    --Rhythm: #727997;
    --YankeesBlue: #12263F;

    /** Fonts */
    --Roboto: "Roboto", sans-serif;
}

html {
	box-sizing: border-box;
	font-family: var( --Roboto );	
}


/** Header */
.logo-sena__header {
    --logo-sena: 50px;
    width: var( --logo-sena );
    height: var( --logo-sena );
}

.logo-sena__footer {
    --logo-sena: 100px;
    width: var( --logo-sena );
    height: var( --logo-sena );
}


/** Main */
.content {
    background-color: var( --AliceBlue );
}

h3 {
    display: flex;
    font-size: 1.25em;
    line-height: 1.2; 
    flex-direction: column;
    position: relative;
    padding-left: 1.2rem;
    margin-bottom: 1.4rem;

    span {
        white-space: nowrap;
    }

    &::before {
        content: "";
        display: block;
        width: 4px;
        background-color: #ffca00;
        position: absolute; 
        top: 0; 
        bottom: 0; 
        left: 0;
        border-radius: 2px;
    }
}

.content-list {
    .link-item {
        font-size: 1em;
        font-weight: 400;
        text-decoration: none;
        color: var( --YankeesBlue );
        transition: all .15s ease-in-out;
        -webkit-text-decoration-skip: objects;
    }
    .link-item:hover {
        background-color: var( --AliceBlue );
        font-weight: 600;
        transition: all .15s ease-in-out;
        -webkit-text-decoration-skip: objects;
        border-radius: 0.25rem;
    }
    .btn-numeration {
        background: var( --AliceBlue );
    }
}

/** Footer */
.footer-pre {
    background-color: var( --AliceBlue );

    h5 {
        color: var( --YankeesBlue );
        font-size: 1em;
    }
}
.footer-main {
    background-color: var( --AzureishWhite );
    color: var( --Rhythm );
    font-size: 12.8px;
}